/* 4 - External */
body {
   padding-bottom: 500px;
}

h3 {
    color: green;
}

/* Fazendo testes em comentário */

/* classes */
.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/* id */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

/* 10 - Multiplas regras, ordem do css  */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}
  
#algum-titulo {
    border-bottom: 4px solid green;
}

/* 11 - Nome de cor crimson */
.color-name {
    color: crimson;
}

/* 12 - Hexadecimal */
.hex {
    color: #55a398;
}

.hex-2 {
    color: #16c516;
}