/* 4 - External */
body {
   padding-bottom: 500px;
}

h3 {
    color: green;
}

/* Fazendo testes em comentário */

/* classes */
.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}