/* 4 - External */
body {
   padding-bottom: 500px;
}

h3 {
    color: green;
}

/* Fazendo testes em comentário */

/* classes */
.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/* id */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

/* 10 - Multiplas regras, ordem do css  */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}
  
#algum-titulo {
    border-bottom: 4px solid green;
}

/* 11 - Nome de cor crimson */
.color-name {
    color: crimson;
}

/* 12 - Hexadecimal */
.hex {
    color: #55a398;
}

.hex-2 {
    color: #16c516;
}

/* 13 - Mais detalhes sobre Hexadecimal */
.simple-hex {
    color: #333; /* color: #333333;*/
}
  
.simple-hex-2 {
    color: #a5f;  /* color: #aa55ff;*/
}

/* RGB */
.rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb {
    color: rgb(199, 21, 47);
}

/* RGBA */
.rgba {
    color: rgba(4, 21, 4, 0.4);
}

/* HSL */
.hsl {
    color: hsl(100, 20%, 50%);
}

.hsl-2 {
    color: hsl(201, 82%, 48%);
}

/* Background-color */
.bg {
    background-color: #000;
    color: yellow;
}

.bg-2 {
    background-color: rgb(200, 20, 40);
    color: #00eaff;
}